@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Kanit:wght@200&display=swap");
.D1 {
  max-width: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.d1 {
  min-height: 4rem;
  border: 1px solid white;
  background-color: black;
  border-radius: 0rem 1rem 1rem 0;
  -webkit-box-shadow: 0 0 12px white;
          box-shadow: 0 0 12px white;
  width: 1rem;
  border-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d1 p {
  margin: auto auto auto auto;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: snow;
  font-size: 0rem;
  font-weight: 400;
}

.d1:active {
  width: 8rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
}

.d1:active p {
  font-size: 1.2rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.d1:hover {
  width: 8rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
}

.d1:hover p {
  font-size: 1.2rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-Flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.main-Area {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: auto;
  margin-bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.center-card {
  border-radius: 1rem;
  min-height: 100%;
  width: 90%;
  max-width: 100rem;
  background-color: #2B2525;
  -webkit-box-shadow: 0 0 1px 1px white, 0 0 55px #04fa63;
          box-shadow: 0 0 1px 1px white, 0 0 55px #04fa63;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.center-card .text {
  width: 50%;
  font-family: monospace;
  margin-top: auto;
  margin-bottom: auto;
}

.center-card .text h1 {
  margin-top: 2%;
}

.center-card .text p {
  font-family: 'Courier New', Courier, monospace;
}

.center-card .text button {
  margin-top: 20%;
  font-size: 2rem;
  padding: 1% 2%;
  border-radius: 0.8rem;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  color: white;
  font-weight: 300;
}

.center-card .text button a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.center-card .text button:hover {
  background-color: white;
  -webkit-box-shadow: 0 0 12px #e9e9ec;
          box-shadow: 0 0 12px #e9e9ec;
}

.center-card .text button:hover a {
  color: black;
}

.center-card .profile {
  border-radius: 50%;
  height: 15rem;
  width: 15rem;
  border: 1px solid white;
  background-color: white;
  background-image: url("https://imgs.search.brave.com/E1IQX9vJAjNFbtrpqGiP1BviKcAfPUmnRe7znmAQ9eI/rs:fit:711:225:1/g:ce/aHR0cHM6Ly90c2U0/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5T/TkxQbENCbUttUDdJ/Sk1Wc1U4dHpnSGFF/OCZwaWQ9QXBp");
  background-repeat: no-repeat;
  background-size: cover;
}

.Header h1 {
  padding-top: 2%;
  text-align: center;
  color: white;
  margin-bottom: 1.5%;
  font-family: 'Courier New', Courier;
  letter-spacing: 1px;
  -webkit-animation: logo 2s;
          animation: logo 2s;
  font-size: 3rem;
}

@-webkit-keyframes logo {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-transition: 1s;
    transition: 1s;
  }
  50% {
    -webkit-transform: scaleX(0.5);
            transform: scaleX(0.5);
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
    -webkit-transition: 1s;
    transition: 1s;
  }
  100% {
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes logo {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-transition: 1s;
    transition: 1s;
  }
  50% {
    -webkit-transform: scaleX(0.5);
            transform: scaleX(0.5);
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
    -webkit-transition: 1s;
    transition: 1s;
  }
  100% {
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@media screen and (max-width: 930px) {
  .center-card {
    width: 100%;
    border-radius: 0 0;
    -webkit-box-shadow: 0 0 52px #36ff89;
            box-shadow: 0 0 52px #36ff89;
    position: absolute;
    top: 10%;
    height: 80vh;
    z-index: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .center-card .text {
    margin-top: 8%;
    width: 100%;
  }
  .center-card .text h1 {
    max-width: 100%;
    font-size: 1.5rem;
  }
  .center-card .text p {
    font-size: 00.8rem;
    padding-left: 5%;
    padding-right: 5%;
  }
  .center-card .text button {
    font-size: 18px;
  }
  .center-card div {
    margin-top: 15%;
  }
  .side-btns {
    position: absolute;
    z-index: 2;
    right: 0.5%;
    opacity: 0.8;
  }
  .D1 {
    top: 13%;
    z-index: 2;
    position: fixed;
    height: 50%;
  }
  .d1:active {
    width: 8rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 2;
  }
  .d1:active p {
    font-size: 1.2rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .d1 {
    margin: 0%;
    position: relative;
    z-index: 2;
    opacity: 0.8;
  }
  .footer {
    display: none;
  }
}

.side-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 1.5rem;
}

.side-btns button {
  margin: 0.2rem;
  height: 1rem;
  width: 1rem;
  border: 0px solid white;
  border-radius: 150%;
}

.footer {
  margin-top: 2%;
}

.footer h6 {
  font-weight: 300;
  color: white;
}
/*# sourceMappingURL=style.css.map */